body{
    padding:0;
    margin:0;
}
.headr{
    text-align:center;
    color:red;

}

.container{
    background: #cccccc;
    padding-bottom:30px;
    border: blue 1px solid;

}
td{
    border:1px solid blue;
}

table{
    border: 1px solid blue;
    margin:auto;
}